doctype html
html(class="no-js")
  head
    title Threejs test
    script(src="javascripts/libs/modernizr.js")
    link(rel="stylesheet", href="stylesheets/app.css")
  body
    #app
    script(src="javascripts/libs/vendor.js")
    script(src="javascripts/app.js")
